
<div class="menu">
    <p-card header="Create New Employee" subheader="Card Subheader" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Add a new employee to your team!
        </p>
        <ng-template pTemplate="footer">
            <div  class="text-center">
            <p-button label="Create"></p-button>
        </div>
        </ng-template>
    </p-card>
    <p-card header="View All Employees" subheader="Card Subheader" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            View all employees on your team
        </p>
        <ng-template pTemplate="footer">
            <div  class="text-center">
            <p-button label="View"></p-button>
        </div>
        </ng-template>
    </p-card>
    <p-card header="Settings" subheader="Card Subheader" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Add a new employee to your team!
        </p>
        <ng-template pTemplate="footer">
            <div  class="text-center">
            <p-button label="Create"></p-button>
        </div>
        </ng-template>
    </p-card>
</div>
